* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}


html {
    background-color: #f1f5f9;
    font-family: system-ui, sans-serif;
}

body {
    width: 100%;
    line-height: 1.5;

    /*Tutorial Style*/
    /* margin: 0 auto; */
    /* max-width: 88ch; */
    /* padding: 1rem; */


    /* My site-wrapper*/    
    margin: 0;
    margin: 0 auto;
    padding: 0;
    padding: 1rem;
    min-height: 100vh;
    
    
    
}
body {
    width: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 1rem 0;
    /* min-height: 100vh; */
    background-image: linear-gradient(199deg, rgb(207,242,242) 90%,rgba(194, 211, 255, 0.597) 10%);
    background-image: linear-gradient(69deg, rgb(207,242,242) 10%,rgba(23, 65, 57, 0.364) 90%);
  }

/* .site-wrapper {
    padding-top: 1rem;
    width: min(100% - 4rem, 88ch);
    margin-inline: auto;
    min-height: 100vh;
} */
.site-wrapper {
    padding-top: 1rem;
    width: min(100% - 2rem, 88ch);
    margin-inline: auto;
    /* min-height: 100vh; */
    padding: 1rem;
    background: #365f2834;
    border: 2px solid #ffffffc4;
     
    border-radius: 13px;
    border-left: 3px solid #519f6345;
    box-shadow: -8px 8px 144px rgba(163, 231, 74, 0.879);


   
  }


h1 {
    color: purple;
    font-size: 1.6rem  ;
    font-size: clamp(1.6rem, 8vmin, 2.3rem);

    line-height: 1;
    text-wrap: pretty;
    font-weight: 500;
  }

.site-title {
    margin: 1rem 0;
    color:mediumpurple;
    font-size: clamp(3.3rem, 11vmin, 7rem);
    line-height: 1.05;
    font-weight: 900;
}



/*Hamburger Mobile-first Styles*/
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
}
/**/

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        width: auto;
        background: none;
        width: 100%;
    display: flex;
    justify-content: center;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }
    /* Hamburger on Desktop Display none */
    .hamburger {
        display: none;
    }
    /**/
}

