---
// Importamos Layout Base
import BaseLayout from '../layouts/BaseLayout.astro';



const pageTitle = "Posts"
---
<!-- Frontmatter END -->
<BaseLayout pageTitle={pageTitle}  >

    
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>
        <li><a href="/posts/post-1">Publicación 1</a></li>
        <li><a href="/posts/post-2">Publicación 2</a></li>
        <li><a href="/posts/post-3">Publicación 3</a></li>
    </ul>
    <h1>¡I <a style="text-decoration: none; opacity:.5 " href="https://www.youtube.com/watch?v=K_EVuLegRZ0" target="_blank">&#128156;</a> Astro!</h1>
    <!-- slot?? article article-id?? article-title H1????! screen reader confused:/  -->
</BaseLayout>
