---
// Importamos Layout Base
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Posts"
---
<!-- Frontmatter END -->
<BaseLayout pageTitle={pageTitle}  >

    
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>        
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        
    </ul>
    <div>¡I <a style="text-decoration: none; opacity:.5 " href="https://www.youtube.com/watch?v=acgIGT0J99U&t=7s" target="_blank">&#128156;</a> Astro!</div>    
</BaseLayout>
