---
// Importamos Layout Base
import BaseLayout from '../layouts/BaseLayout.astro';


// Declaración de Variables
// const siteName = "Mi Blogcito"
const siteName = "Mi Blogcito";
const pageTitle = "Home Page";

---
<!-- Frontmatter END -->

<BaseLayout pageTitle={pageTitle} >
	<h3> ¡Take your passion and make it happen! &#128515; </h3>
</BaseLayout>